body{
  background: #e8ffff;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.container{
  max-width: 400px;
  background-color: #050505;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  border-radius: 10px;
  padding-bottom: 50px;
  box-shadow: 0 0 7px 2px black;
}

h1 {
  color: cornsilk;
  font-family: 'Heebo', sans-serif;

}

label {
  font-size: smaller;
  color: gray;
}

.icon{
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}


body {
	height: 100%;
	/* max-height: 600px; */
	/* width: 1000px; */
	background-color: hsla(200,40%,30%,.4);
	background-image:
		url('img/clipart.png'),
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position:
		0 1%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size:
		2300px,
		800px,
		500px 200px,
		1500px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position:
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}